body {
    background: #ffdfe5;
}

h1 {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4 {
    color:#C93C20;
}

#camera {
    width: 500px;
    height: 400px;
    border:1px solid #F4A900;
}

img {
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 #ff8800;
}

.column {
    display: inline;
    padding: 10px;
}

img:hover {
    border-radius: 140px;
}

.copyright_footer {
    position: fixed;
    color: #F7F7F7;
    bottom: 0;
    width: 100%;
    background-color: #924E7D;
    line-height: 3;
    text-align: center;
}
